* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // background-color: aquamarine;
  background-color: rgb(210, 161, 210);
  .main {
    // background-color: rgb(210, 161, 210);
    margin: 2rem;
    border: 2px solid rgb(166, 89, 166);
    border-radius: 22px;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    .upper-main {
      border-radius: 20px;
      height: 50vh;
      width: 25vw;
      // width: 70vw;
      max-width: 100%;
      min-width: 100%;
      // min-height: auto;
      // min-width: auto;
      // max-width: auto;
      // height: 300px;
      // height: 40vh;
      // width: 500px;
      // height: auto;
      // min-height: fit-content;
      // max-height: fit-content;
      // max-width: fit-content;
      // min-width: fit-content;
      // width: fit-content;
      .upper-main-img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        // object-fit: cover;
        // max-height: fit-content;
        // min-height: fit-content;
        // max-width: 100%;
        // min-width: 100%;
      }
      h4 {
        position: relative;
        bottom: 7.5rem;
        color: aquamarine;
        padding: 0.2rem 2.5rem;
      }
      .quiz-category {
        z-index: 2;
        position: relative;
        bottom: 7.8rem;
      }
    }
    .lower-main {
      // border-radius: 20px;
      // background-color: lightblue;
      // height: 60vh;
      .lower-main-head {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 2rem;
        a {
          button {
            background-color: aquamarine;
            height: 2.2rem;
            border: none;
            padding: 2px 8px;
            border-radius: 5px;
            font-size: 1.2rem;
            color: purple;
            font-weight: bolder;
            transition: all 0.3s ease-in-out;
            transform: translateY(1);
          }
          &:hover {
            button {
              background-color: purple;
              color: aqua;
              transition: all 0.3s ease-in-out;
              transform: translateY(-0.15rem);
            }
          }
        }
      }
    }
    .quiz-category {
      // background-color: aquamarine;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 2rem;
      a {
        text-decoration: none;
        .categories {
          height: 5rem;
          width: 5rem;
          border: 2px solid purple;
          border-radius: 10px;
          display: flex;
          gap: 5px;
          flex-direction: column;
          color: purple;
          background-color: aquamarine;
          transition: all 0.4s ease-in-out;
          transform: translateY(1);
          .category-head {
            font-size: larger;
            margin: 2px 5px;
          }
          .category-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              font-size: 2.5rem;
            }
          }
        }
        &:hover {
          .categories {
            background-color: purple;
            color: aqua;
            transition: all 0.3s ease-in-out;
            transform: translateY(-0.25rem);
          }
        }
      }
    }
  }
}
.quiz-body-upper-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  .counter {
    height: 0;
    position: relative;
    bottom: 80px;
    #countdown {
      position: relative;
      z-index: 2;
      height: 80px;
      width: 80px;
      text-align: center;
      #countdown-number {
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        position: absolute;
        top: 18px;
        left: 18px;
      }
      .countDown {
        stroke-dasharray: 185px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 7px;
        stroke: rgb(255, 0, 85);
        fill: rgb(210, 161, 210);
        animation: countdownAnimation 20s linear infinite forwards;
      }
    }

    @keyframes countdownAnimation {
      from {
        stroke-dashoffset: 0px;
      }
      to {
        stroke-dashoffset: 185px;
      }
    }
  }
  .question-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    background-color: rgb(210, 161, 210);
    border-radius: 20px;
    padding: 2rem 1rem;
    position: relative;
    bottom: 2.5rem;
    box-shadow: 2px 2px 8px purple;
    .question-counter {
      color: purple;
      text-align: center;
      font-size: 1.7rem;
      font-weight: bolder;
      .nextQesNum {
        color: rgb(255, 0, 85);
      }
    }
    .question {
      color: purple;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
.quiz-body-lower-main,
.lower-main {
  // max-width: 100%;
  // min-width: 100%;
  border-radius: 20px;
  .option-body {
    display: flex;
    justify-content: center;
    .options {
      border: 2px solid purple;
      margin: 0.5rem 0.4rem;
      border-radius: 10px;
      padding: 0.8rem 0.5rem;
      display: flex;
      justify-content: space-evenly;
      // gap: 8rem;
      cursor: pointer;
      width: 20vw;
      // max-width: fit-content;
      // min-width: fit-content;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      color: purple;
      .option-title {
        width: 70%;
        display: flex;
        justify-content: center;
        h5 {
          font-size: 1.8rem;
          font-weight: bolder;
        }
      }
      .radio-body {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        input[type="radio"] {
          transform: scale(2);
        }
      }
      &:hover {
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
        color: aquamarine;
      }
    }
  }
  .nextBtn {
    margin: 6px 4px;
    .btn-text {
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-btn {
        font-size: 1.5rem;
        background-color: r;
        height: 2rem;
        color: purple;
        width: 50%;
        border: 2px solid purple;
        background-color: rgb(210, 161, 210);
        box-shadow: 2px 2px 5px purple;
        padding: 2px 8px;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: purple;
          color: rgb(210, 161, 210);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
.result {
  display: none;
  margin: 0.5rem;
  // display: flex;
  flex-direction: column;
  gap: 0.3rem;
  .scoreCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    color: purple;
    h2 {
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      text-decoration: underline;
      font-weight: bolder;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border: 4px solid rgb(166, 89, 166);
    }
    .scores {
      width: 100%;
      text-align: center;
      border: 4px solid rgb(166, 89, 166);
      .scoreUp,
      .scoreDown {
        display: flex;
        justify-content: space-around;
        h4 {
          margin: 0.7rem 0.6rem;
          font-size: 1.2rem;
          font-weight: bolder;
        }
      }
    }
  }
  .whatNext {
    border: 4px solid rgb(166, 89, 166);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    .choicesUp,
    .choicesDown {
      display: flex;
      justify-content: space-around;
      margin: 0.4rem 0.2rem;
      .choicesUp-div,
      .choicesDown-div {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: purple;
          transform: scale(1);
          transition: all 0.3s ease-in-out;
          i {
            background-color: aquamarine;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 1.2rem;
          }
          h6 {
            font-size: 1.2rem;
            font-weight: bolder;
          }
          &:hover {
            transform: scale(1.12);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: aquamarine;
  tr {
    background-color: rgb(210, 161, 210);
    color: purple;
    td.profile-name {
      width: 65%;
      text-align: center;
    }
    td.profile-img {
      width: 10%;
      .img {
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: blanchedalmond;
        border-radius: 50%;
      }
    }
    td.profile-rank {
      width: 10%;
      text-align: center;
    }
    td.profile-point {
      width: 15%;
    }
    td {
      padding: 10px;
      font-size: 1.2rem;
    }
  }
}
